@use '_variable' as v;

body {
  color: v.palette('black');
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
}

a {
  color: v.palette('black');
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

button,
[type='submit'] {
  cursor: pointer;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background: v.palette('gray');
}
